.link {
    font-family: Arial;
    color: #000000;
    font-size: 14px;
    padding: 3px 6px 3px 6px;
    border: solid #000000 1px;
    text-decoration: none;
    cursor: pointer;
    background-color: inherit;
}

.link:hover {
    background: #e8e8e8;
    text-decoration: none;
}