<table>
    <tr>
        <td>Nimi:</td>
        <td><input id="name-input" [(ngModel)]="contact.name"/></td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td><input id="phone-input" [(ngModel)]="contact.phone"/></td>
    </tr>
    <tr>
        <td><button class="link" (click)="back()">Tagasi</button></td>
        <td><button class="link" id="save-link" (click)="editContact()">Salvesta</button></td>
    </tr>
</table>
