
<input id="search-string" [(ngModel)]="searchString"/>

<table class='list-table'>
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Telefon</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor='let contact of contacts | contactFilter:searchString' [class]="contact.done ? 'selected' : ''">
        <td><a class="edit-link" routerLink="/edit/{{ contact._id }}">{{ contact.name }}</a></td>
        <td>{{ contact.phone }}</td>
        <td><input type="checkbox" [(ngModel)]="contact.done"/></td>
        <td><a href="" class="delete-link link" (click)="deleteContact(contact._id); false" >Kustuta</a></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="link" id="delete-all-link" (click)="deleteManyContacts()">Kustuta märgistatud</button></td>
    </tr>
</table>
